{% extends "accounting/master.html" %} {% block content %}

<div class="container mt-4">
  <h1 class="display-6">Accounts Table</h1>
  <table class="table table-bordered table"  id="accountTable">
    <thead>
      <tr>
        <th>Account code</th>
        <th>Account name</th>
      </tr>
    </thead>
    <tbody>
    {% for account in Accounts %}
      <tr>
        <td>{{ account.code }}</td>
        <td>{{ account.name }}</td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </tfoot>
  </table>
</div>

<div class="d-flex justify-content-center gap-3 mb-3">
  <form action = "{% url 'accounting:add_accounts' %}">
    <input class="btn btn-primary" type="submit" value="New account"/> 
  </form>
  <form action = "{% url 'accounting:select_accounts' 'update' %}">
    <input class="btn btn-primary" type="submit" value="Update account"/> 
  </form>
  <form action = "{% url 'accounting:select_accounts' 'delete' %}">
    <input class="btn btn-primary" type="submit" value="Delete account"/> 
  </form>
</div>

<script>

$(document).ready(function () {

  // Add inputs to each footer cell (bottom of table)
    $('#accountTable tfoot th').each( function () {
        var title = $('#accountTable thead th').eq( $(this).index() ).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );

  // Initialize DataTable ONCE
  var table = $('#accountTable').DataTable({
    select: true,
    columnDefs: [{ type: 'string', targets: 0}],
    order: [[0, 'asc']]
  });

    table.columns().every( function () {
        var that = this;
 
        $( 'input', this.footer() ).on( 'keyup change', function () {
            that
                .search( this.value )
                .draw();
        } );
    } );
} );
</script>

{% endblock %}

