{% extends "accounting/master.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid mt-5 shadow p-4 rounded cont" style="max-width: 1000px;">
    <h1>Create new transaction</h1>

    <form action = "" method="post">
        {% csrf_token %}

        <div>
            <h3>Transaction header</h3>
            {{ form|crispy }}
        </div>

        <div>
            <h3>Transaction Lines</h3>
            {{ formset.management_form }}
                <table class="table table-bordered table-sm ledger-table">
                <thead>
                    <tr>
                        <th class="dc-col">Debit/Credit</th>
                        <th class="account-col">Account</th>
                        <th class="amount-col">Amount</th>
                    </tr>
                </thead>

                <tbody>
                    {% for line in formset %}
                    <tr>
                        <td class="dc-col">{{ line.debit_credit }}</td>
                        <td class="account-col">{{ line.account }}</td>
                        <td class="amount-col">{{ line.amount }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input id="submit" type="submit">
        </div>
    </form>

<script>
    $(document).ready(function() {
        $('.ledger-table select').select2({
            theme: "classic", 
            width: 'resolve',
            dropdownAutoWidth: true
        });
    });
</script>

{% endblock %}