{% extends "accounting/master.html" %} {% block content %}
{% load humanize %}


<div class="container mt-4">
  <h1 class="display-6">Balance</h1>
  <table class="table table-bordered table" style="width:100% ;table-layout:fixed;" id="balanceTable">
    <thead>
      <tr>
        <th>Account</th>
        <th>Name</th>
        <th>Debit</th>
        <th>Credit</th>
        <th>Balance</th>
      </tr>
    </thead>

    <tbody>
    {% for line in balance %}
    {% if line.total_debit or line.total_credit %}
      <tr>
        <td>{{ line.sorting_account }}</td>
        <td>{% if line.account %} {{line.account.name}} 
            {% elif line.customer %} {{line.customer.name}}
            {% elif line.supplier %} {{line.supplier.name}} 
            {% endif %}
        </td>
        <td>{{line.total_debit | default:" "|floatformat:2|intcomma}}</td>
        <td>{{line.total_credit | default:" "|floatformat:2|intcomma}}</td>
        <td>{{line.total_balance| default:" "|floatformat:2|intcomma}}</td>
      </tr>
    {% endif %}
    {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </tfoot>
  </table>
</div>
<div style="display: flex; justify-content: center;">
  <form style="margin: 0;" action = "{% url 'accounting:index' %}">
    <input class="btn btn-primary" type="submit" value="Back to menu"/> 
  </form>

</div>


<script>

$(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#balanceTable tfoot th').each( function () {
        var title = $('#balanceTable thead th').eq( $(this).index() ).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );
 
        // DataTable
    var table = $('#balanceTable').DataTable(
        {select: true,
        columnDefs:[{type : 'string', targets:0}],
        order : [[0, 'asc']],
        }
      );

    table.columns().every( function () {
        var that = this;
 
        $( 'input', this.footer() ).on( 'keyup change', function () {
            that
                .search( this.value )
                .draw();
        } );
    } );
} );
</script>

{% endblock %}

