{% extends "accounting/master.html" %}


{% block content %}
<div class="container mt-5 shadow p-4 rounded" style="max-width: 600px;">
    <form action = "",  method="post">
        {% csrf_token %}
        <h3>Are you sure you want to delete the following account ?</h3>
        <p>An account can't be deleted if he is related to existing transactions. </br>
        Please delete or modify all related transactions before deleting the account.</p>
        <p>{{object}}</p>
        <input id="submit" type="submit">
    </form>
</div>

{% endblock %}