{% extends "accounting/master.html" %}

{% block content %}
<ul class="list-group">
    <li><a href="/admin/">Admin</a></li>
    <li><a href="{% url 'accounting:accounts' %}">Accounts</a></li>
    <li><a href="{% url 'accounting:suppliers' %}">Suppliers</a></li>
    <li><a href="{% url 'accounting:customers' %}">Customers</a></li>
    <li><a href="{% url 'accounting:transactions_headers' %}">Transactions</a></li>
    <li><a href="{% url 'accounting:ledger' %}">Ledger</a></li>
    <li><a href="{% url 'accounting:balance' %}">Balance</a></li>
    <li><a href="{% url 'accounting:income_statement' %}">Income Statement</a></li>
    <li><a href="{% url 'accounting:balance_sheet' %}">Balance Sheet</a></li>



</ul>
{% endblock %}
