{% extends "accounting/master.html" %} {% block content %}

<div class="container mt-4">
  <h1 class="text-center">Ledger</h1>
  <table class="table table-bordered table" id="ledgerTable">
    <thead>
      <tr>
        <th>Transaction</th>
        <th>Date</th>
        <th>Account</th>
        <th>Account title</th>
        <th>Transaction name</th>
        <th>Debit</th>
        <th>Credit</th>

      </tr>
    </thead>
    <tbody>
    {% for field in ledger %}
    
      <tr>
        <td>{{ field.header }}</td>
        <td>{{ field.header.formatted_date }}</td>
        <td>{{ field.account.sorting_account}}</td>
        <td>{% if field.account.account %} {{field.account.account.name}} 
            {% elif field.account.customer %} {{field.account.customer.name}}
            {% elif field.account.supplier %} {{field.account.supplier.name}} 
            {% endif %}
        </td>
        <td>{{ field.header.name }}</td>
        <td>{% if field.debit_credit == "D" %} {{field.amount}} {% endif %}</td>
        <td>{% if field.debit_credit == "C" %} {{field.amount}} {% endif %}</td>

      </tr>

    {% endfor %}
    </tbody>
  </table>
</div>

<div style="display: flex; justify-content: center; gap: 15px">
  <form action = "{% url 'accounting:add_transactions' %}">
    <input class="btn btn-primary" type="submit" value="New transaction"/> 
  </form>
  <form action = "{% url 'accounting:select_transactions' %}">
    <input class="btn btn-primary" type="submit" value="Delete transaction"/> 
  </form>
</div>



  <script>
  $(document).ready( function () {
      $('#ledgerTable').DataTable(
        {select: true,
        order : [[0, 'asc']],
        columnDefs: [
            {
                targets: 0,        
                width: "1%",       
                className: "dt-center"
            },
            {
                targets: 1,              
                width: "60px",
                className: "dt-center"
            },
           {
                targets: 2,
                width: "1%",       
                className: "dt-center"
           },
          {
                targets: 3,       
                width: "300px",  
                className: "one-line"
            },]
        }
      )
  } );
  </script>



{% endblock %}

