{% extends "accounting/master.html" %} {% block content %}
{% load humanize %}
<!-- ATTENTION ! THE PAGE IS CACHED SO CHANGES AREN'T LIVE-->


<div class="container-fluid mt-4">
  <h1 class="display-6">Ledger</h1>
  <table class="table table-bordered table" id="ledgerTable">
    <thead>
      <tr>
        <th>Transaction</th>
        <th>Date</th>
        <th>Account</th>
        <th>Account title</th>
        <th>Transaction name</th>
        <th>Debit</th>
        <th>Credit</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </tfoot>
    <tbody>
    {% for field in ledger %}
    
      <tr>
        <td style="width:1%">{{ field.header.id }}</td>
        <td>{{ field.header.formatted_date }}</td>
        <td >{{ field.account.sorting_account}}</td>
        <td style="overflow: hidden; text-overflow: ellipsis;">{% if field.account.account %} {{field.account.account.name}} 
            {% elif field.account.customer %} {{field.account.customer.name}}
            {% elif field.account.supplier %} {{field.account.supplier.name}} 
            {% endif %}
        </td>
        <td style="overflow: hidden; text-overflow: ellipsis;">{{ field.header.name }}</td>
        <td>{% if field.debit_credit == "D" %} {{field.amount|floatformat:2|intcomma}} {% endif %}</td>
        <td>{% if field.debit_credit == "C" %} {{field.amount|floatformat:2|intcomma}} {% endif %}</td>

      </tr>

    {% endfor %}
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-center gap-3 mb-3">
  <form action = "{% url 'accounting:add_transactions' %}">
    <input class="btn btn-primary" type="submit" value="New transaction"/> 
  </form>
  <form action = "{% url 'accounting:select_transactions' 'update'%}">
    <input class="btn btn-primary" type="submit" value="Update transaction"/> 
  </form>
  <form action = "{% url 'accounting:select_transactions' 'delete'%}">
    <input class="btn btn-primary" type="submit" value="Delete transaction"/> 
  </form>
</div>


  <style>
  #ledgerTable tfoot input {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 2px 6px;
    font-size: 0.85rem;
    white-space: nowrap;
  }

  #ledgerTable tfoot th {
    padding: 4px;
  }
  </style>

  <script>

  $(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#ledgerTable tfoot th').each( function () {
        var title = $('#ledgerTable thead th').eq( $(this).index() ).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );

      var table  = $('#ledgerTable').DataTable(
        {select: true,
        order : [[0, 'desc']],
        autoWidth: false,
        columnDefs: [
            {
                targets: 0,        
                width: "1%",       
                className: "dt-center"
            },
            {
                targets: 1,              
                width: "60px",
                className: "dt-center"
            },
           {
                targets: 2,
                width: "1%",       
                className: "dt-center"
           },
          {
                targets: 3,       
                width: "300px",  
                className: "one-line"
            },]
        }
      )

    table.columns().every( function () {
        var that = this;
 
        $( 'input', this.footer() ).on( 'keyup change', function () {
            that
                .search( this.value )
                .draw();
        } );
    } );
} );
  </script>



{% endblock %}

