{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LucashFlow</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="{% static 'accounting/jquery/js/jquery-3.7.1.min.js' %}"></script>

    <link
      rel="stylesheet"
      href="{% static 'accounting/bootstrap/css/bootstrap.min.css' %}"
    />
    <script src="{% static 'accounting/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <link
      rel="stylesheet"
      href="{% static 'accounting/datatables/css/dataTables.min.css' %}"
    />
    <script src="{% static 'accounting/datatables/js/dataTables.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'accounting/css/style.css' %}">

    <title>{% block title %}Default Name{% endblock %}</title>
  </head>

  <body>
    <div class = "text-center">
    <header>
      

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
      <a class="navbar-brand" href="#"><img src="{% static 'accounting/images/lucashflowvdef.svg' %}" alt="LucashFlow" height="40"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'accounting:home' %}">Home<span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounting:accounts' %}">Accounts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounting:suppliers' %}">Suppliers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounting:customers' %}">Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounting:transactions_headers' %}">Transactions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounting:ledger' %}">Ledger</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounting:balance' %}">Balance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounting:income_statement' %}">Income statement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounting:balance_sheet' %}">Balance sheet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounting:faq' %}">ReadMe - FAQ</a>
          </li>
        </ul>
      </div>
    </nav>
    </header>


    {% for message in messages %}
      <div style ="color : green">{{ message }}</div>
    {% endfor %}

    <div style ="color : red; text-align: center">{{ formset.non_form_errors }}</div>

    </div>
    {% block content %}
    <h1></h1>
    <h1>To do - The master template is in use on this template.</h1>
    {% endblock %}
  </body>
</html>
