{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LucashFlow</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="{% static 'accounting/jquery/js/jquery-3.7.1.min.js' %}"></script>

    <link
      rel="stylesheet"
      href="{% static 'accounting/bootstrap/css/bootstrap.min.css' %}"
    />
    <script src="{% static 'accounting/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <link
      rel="stylesheet"
      href="{% static 'accounting/datatables/css/datatables.min.css' %}"
    />
    <script src="{% static 'accounting/datatables/js/datatables.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'accounting/css/style.css' %}?v=1.0.1">

    <link rel="stylesheet" href="{% static 'accounting/select2/css/select2.min.css' %}">
    <script src="{% static 'accounting/select2/js/select2.min.js' %}"></script>

    <title>{% block title %}Default Name{% endblock %}</title>
  </head>

  <body class ="pt-4">
    <div class = "text-center">
    <header>
      
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="{% url 'accounting:home' %}">
      <img src="{% static 'accounting/images/lucashflowvdef.svg' %}" alt="LucashFlow" height="40">
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto"> <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'accounting:home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounting:accounts' %}">Accounts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounting:suppliers' %}">Suppliers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounting:customers' %}">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounting:transactions_headers' %}">Transactions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounting:ledger' %}">Ledger</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounting:balance' %}">Balance</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Reports
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-label="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'accounting:income_statement' %}">Income Statement</a></li>
            <li><a class="dropdown-item" href="{% url 'accounting:balance_sheet' %}">Balance Sheet</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounting:faq' %}">FAQ</a>
        </li>
      </ul>
    </div>
</nav>
    </header>


    {% for message in messages %}
      <div class="text-center mt-5 text-success">{{ message }}</div>
    {% endfor %}

    <div class="text-center mt-5 text-danger">{{ formset.non_form_errors }}</div>

    </div>
    {% block content %}
    <h1></h1>
    <h1>To do - The master template is in use on this template.</h1>
    {% endblock %}
  </body>
</html>
