{% extends "accounting/master.html" %} {% block content %}

<div class="container mt-4">
  <h1 class="display-6">Transaction Headers</h1>
  <table class="table table-bordered table" id="transactionsheaderTable">
    <thead>
      <tr>
        <th>Invoice</th>
        <th>Name</th>
        <th>Date</th>
        <th>Updated at</th>
      </tr>
    </thead>
    <tbody>
    {% for field in transactionsheader %}
    
      <tr>
        <td style="white-space: nowrap;overflow: hidden; text-overflow: ellipsis;">{{ field.invoice}}</td>
        <td>{{ field.name }}</td>
        <td>{{ field.date|date:"d/m/Y" }}</td>
        <td style="white-space: nowrap;overflow: hidden; text-overflow: ellipsis;">{{ field.updated_at|date:"d/m/Y H:i" }}</td>
      </tr>

    {% endfor %}
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-center gap-3 mb-3">
  <form action = "{% url 'accounting:add_transactions' %}">
    <input class="btn btn-primary" type="submit" value="New transaction"/> 
  </form>
  <form action = "{% url 'accounting:select_transactions' 'update'%}">
    <input class="btn btn-primary" type="submit" value="Update transaction"/> 
  </form>
  <form action = "{% url 'accounting:select_transactions' 'delete'%}">
    <input class="btn btn-primary" type="submit" value="Delete transaction"/> 
  </form>
</div>


  <script>
  $(document).ready( function () {
      $('#transactionsheaderTable').DataTable(
        {select: true,
        columnDefs:[{type : 'string', targets:1}],
        order : [[2, 'asc']],
        }
      )
  } );
  </script>



{% endblock %}

